#gelisim{
    width: 100%;
    height: 1000px;
}
.iletisim {
    width: 100%;
    height: 50px;
    background-color: #1E77A8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.adres{
    display: flex;
}
.tablo{
    position: relative;
    top: 100px;
    left: 15%;
}
.harita{
    position: relative;
    top: 100px;
    left: 25%;
}