.galeri {
    width: 100%;
    height: 50px;
    background-color: #1E77A8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resim {
    width: 100%;
    height: auto;
    position: relative;
    left: 10%;

}

.resim img {
    width: 20%;
    height: auto;
}