#gelisme {
    width: 100%;
    height: auto;
    border: 20px;
    display: flex;
}

h1 {
    width: 100%;
    height: 60px;
    background-color: #003366;
    text-align: center;
    color: white;
}

#gelisme2 {
    width: 30%;
    height: 50px;
    position: relative;
    top: 150px;
    list-style: none;
}

#gelisme2 li {
    height: 50px;
}

#gelisme2 li:hover {
    background-color: #003366;
}

#gelisme2 li a {
    height: 50px;
    text-decoration: none;
    color: #003366;
    display: block;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gelisme2 li a:hover {
    color: white;
}

#haber {
    width: 60%;
}