#kutu {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

#kutu ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#kutu ul li {
    width: 500px;
    height: 150px;
    list-style: none;
    border: solid 2px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
}

