#son{
width: 100%;
height: 400px;
background-color: #003366;
}
#icerik2{
    position: relative;
    top: 50px;
    display: flex;
}
#icerik2 ul li{
    position: relative;
    left: 60px;
    list-style: none;
    margin: 2px;
    padding-top: 0;
}
#icerik2 h3, #icerik2 h4, #icerik2 h5 {
    margin: 2px 0;     
    padding: 0;
}
